@charset "UTF-8";

body {
    background-color: #FFFACD;
    font-family: monospace;
    color: black;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 3px 3px 3px #0000006c;
    padding: 20px;
    text-align: justify;
    margin: 50px 20px;
}

h1 {
    text-align: center;
    color: #000000;
    font-family: monospace;
    font-size: 60px;
    padding: 15px 0px;
    margin: auto;
    text-decoration: underline;
}

body > section > a {
    color: #000000;
    text-align: justify;
    font-size: 25px;
    font-family: monospace;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    background-color: #999044;
    border-radius: 5px;
}

a:hover {
    background-color: #a59c478f;
    color: #000000;
    text-decoration: wavy;
}

body > section > p {
    font-size: 18px;
    border-style: none;
    border-radius: 10px;
    border: 10px;
    margin: 30px auto;
}

footer {
    text-align: end;
    font-size: 16px;
    margin: 30px auto 0px auto;
    padding: 10px 20px;
    color: #000000;
    background-color: #E2DDB5;
    border-radius: 5px;
}

h4 > a {
    font-size: 16px;
    color: #000000;
    font-style: normal;
    font-family: monospace;
    text-decoration: none;
    border-radius: 5px;
}