@charset "UTF-8";

body {
    background-color: #FFFACD;
    font-family: monospace;
    color: black;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 3px 3px 3px #0000006c;
    padding: 20px;
    text-align: justify;
    margin: 50px 20px;
}

h1 {
    text-align: center;
    color: #000000;
    font-family: monospace;
    font-size: 60px;
    padding: 15px 0px;
    margin: 15px auto;
    text-decoration: underline;
}

body > h2 {
    text-align: center;
    color: #000000;
    font-family: monospace;
    font-size: 30px;
    padding: 15px 5px;
    margin: 20px auto;
    text-decoration: underline;
    background-color: #999044;
    font-weight: bold;
    border-radius: 5px;
    font-style: normal;
}

body > section > h3 {
    text-align: left;
    color: #000000;
    font-family: monospace;
    font-size: 20px;
    padding: 15px 0px;
    margin: 20px auto;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-style: normal;
}

h4 > a {
    font-size: 14px;
    color: #000000;
    font-style: normal;
    font-family: monospace;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #a59c478f;
    color: #000000;
    text-decoration: wavy;
}

footer {
    text-align: end;
    font-size: 14px;
    margin: 30px auto 0px auto;
    padding: 10px 20px;
    color: #000000;
    background-color: #E2DDB5;
    border-radius: 5px;
}

body > section > ol {
    font-size: 14px;
    border-style: none;
    border-radius: 10px;
    border: 5px;
    margin: 15px;
    color: #000000;
}
